@model List<Bai_tap_lon.Context.Categorry>
@{
    ViewBag.Title = "ProductBand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-content padding-y bg">
    <div class="container">




        <br>
        <br>

        <div class="card card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemcam.jpg" class="border img-sm"></div>
                  
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem cam</a>
                           
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemden.jpg" class="border img-sm"></div>
                     
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem đen</a>
                          
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemdo.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem đỏ</a>
                        
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemhoahong.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem hoa hồng</a>
                          
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->

        <br><br>

        <br>
        <br>

        <div class="card card-body">
            <div class="row">
               
                    <div class="col-md-3">
                        <figure class="itemside mb-2">
                            <div class="aside"><img src="~/Content/images/items/banhkemxanhla.jpg" class="border img-sm"></div>
                            <figcaption class="info align-self-center">
                                <a href="#" class="title">Bánh kem xanh lá</a>
                             
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                
                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemhoaquatuoi.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem hoa qua tươi</a>
                          
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemhong.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem hồng</a>
                         
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemnhan.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem nhãn</a>
                         
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->

        <br><br>
        <br>
        <br>

        <div class="card card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemnoel.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem noel</a>
                           
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemsocola.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem socola</a>
                          
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemtim.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem tím</a>
                          
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-3">
                    <figure class="itemside mb-2">
                        <div class="aside"><img src="~/Content/images/items/banhkemxanh.jpg" class="border img-sm"></div>
                        <figcaption class="info align-self-center">
                            <a href="#" class="title">Bánh kem xanh</a>
                           
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->

        <br><br>


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// 