@model List<Bai_tap_lon.Context.Categorry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="category">
                        <div class="img-wrap" style="background: #FFFFFF ">
                            <img src="~/Content/images/avatars/@item.Avartar">
                          
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="@Url.Action("ProductCategory", "Category", new { @Id = item.Id }, null)">@item.Name</a></h4>

                        </div>
                    </div>
                </div> <!-- col.// -->
            }


        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp đến hộp thư đến của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đặt mua </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text"> Nhập email để đăng ký để nhận bản tin của chúng tôi. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>



